.main_content_user {
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main_content_user .title {
  font-weight: bold;
  font-style: italic;
  background-color: transparent;
  text-shadow: 3px 3px black;
}
