@keyframes text-shadow-change {
  0% {
    text-shadow: 3px 3px red;
  }
  50% {
    text-shadow: 3px 3px blue;
  }
  100% {
    text-shadow: 3px 3px red;
  }
}

.title h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 3px red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-style: italic;
  background-color: transparent;
}

.title h1 {
  animation-name: text-shadow-change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.user_account ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.user_account li {
  float: right;
}

.user_account li button {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
}

.user_account li button:hover {
  background-color: rgb(31, 124, 54);
}

ul.mode_switch {
  list-style-type: none;
  overflow: hidden;
}

.mode_switch {
  display: table;
  margin: 0 auto;
}

.mode_switch li {
  background-color: rgb(15, 24, 13);
  padding: 10px;
  margin: 0 auto;
  float: left;
  display: inline;
}

.mode_switch li button {
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.mode_switch li button[id='Spotify']:hover {
  background-color: rgb(31, 124, 54);
}

.mode_switch li button[id='Youtube']:hover {
  background-color: rgb(184, 32, 57);
}
