.main_content_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main_content_user .title {
  font-weight: bold;
  font-style: italic;
  color: white;
  text-shadow: 3px 3px white;
}

.main_content_user .saved_playlists {

}