body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes text-shadow-change {
  from {
    text-shadow: 3px 3px red;
  }
  to {
    text-shadow: 3px 3px blue;
  }
}

.title {
  text-align: center;
  color: white;
  text-shadow: 3px 3px red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-style: italic;
  background-color: transparent;
}

.title h1 {
  animation-name: text-shadow-change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.user_account ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.user_account li {
  float: right;
}

.user_account li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.user_account li a:hover {
  background-color: rgb(31, 124, 54);
}

ul.mode_switch {
  list-style-type: none;
  overflow: hidden;
}

.mode_switch {
  display: table;
  margin: 0 auto;
}

.mode_switch li {
  background-color: rgb(15, 24, 13);
  padding: 10px;
  margin: 0 auto;
  float: left;
  display: inline;
}

.mode_switch li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mode_switch li a[href*='Spotify']:hover {
  background-color: rgb(31, 124, 54);
}

.mode_switch li a[href*='Youtube']:hover {
  background-color: rgb(184, 32, 57);
}
