.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.left_song {
  text-align: center;
}

.right_song {
  text-align: center;
}

.left_song_img {
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
}

.right_song_img {
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
}

.song_button {
  border: none;
  background-color: transparent;
}

.right_song > h1,
.right_song > h3,
.left_song > h1,
.left_song > h3 {
  color: rgb(3, 29, 64);
}
