.main_content_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
}

.main_content_user .title {
  font-weight: bold;
  font-style: italic;
  color: white;
  text-shadow: 3px 3px #1db954;
}